body {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1 {
    font-size: 1cm;
    color: white;
    font-family: "Courier New", monospace;
}

.calculadora {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
}

#display {
    width: 240px;
    height: 50px;
    font-size: 2.5em;
    text-align: right;
    margin-bottom: 10px;
    border: none;
    background: #111;
    color: white;
    padding: 5px;
    font-family: "OCR A Std", monospace;
}
.teclado {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px;
    font-size: 1.2em;
    border: none;
    background: #444;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-family: Verdana, sans-serif;
}

button:hover {
    background: #666;
}